:root {
  --color-primario-normal: #272727;
  --color-primario-fuerte: #000000;
  --color-secundario: #cecece;

  --color-menu: #000000;
  --color-menu2: #0a0a0a;
  --color-menu3: #141414;
  --color-letras-menu: #ffffff;
}


body {
  overflow-x: hidden;
}

h1 {
  color: black !important;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2rem;
}

p {
  color: black !important;
}

h3 {
  letter-spacing: 1px !important;
  font-weight: 600 !important;
}

.button-main {
  background: var(--color-secundario);
  color: white;
  font-size: 14px;
}

.button-main:hover {
  background-color: var(--color-secundario);
  color: white;
}

.mainpage {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  object-fit: cover;
  background-color: white;
}

.btn-contorno {
  background-color: var(--color-secundario);
  color: white;
  border: none;
  padding: 5px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.btn-contorno:hover {
  background-color: var(--color-secundario);
}


/*<!------------Inicia estilos tablas---------------->*/
table.table__body td,
th {
  text-align: center;
  align-items: center;
  justify-content: center;
}

table.table__body_history td:not(#thHistory) {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.table__container {
  border-radius: 1rem;
  overflow: auto;
  overflow: overlay;
  max-width: 180vh;
}

.table__body {
  width: 100%;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.tabla_con_bordes,
.tabla_con_bordes th,
.tabla_con_bordes td {
  border: 2px solid black !important;
  border-collapse: collapse !important;
}

a {
  color: var(--color-primario-normal);
  text-decoration: none;
}

table {
  width: 100%;
  background-color: var(--color-fondo);
  color: black;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.7rem;
  text-align: left;
}


thead th {
  cursor: pointer;
  color: black;
  font-weight: bold;
  text-align: center;
}

tbody tr {
  --delay: .1s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:not(.admin-row):hover {
  background-color: gray !important;
}


tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

#columnaAccion {
  width: min-content !important;
  margin: 0 !important;
  padding: 0 !important;
}

.table__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.table__footer-left {
  font-size: 14px;
}

.table__footer-right {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.table__footer-right select {
  margin-left: 5px;
}

/*<!------------Termina estilos tablas---------------->*/



/*<!------------Estilo LOGIN---------------->*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;  
  top: 10%; 
  left: 20%;
  aspect-ratio: 1;
  border-radius: 9px;
  animation: Entrance 2s ease 0s 1 normal forwards;
}

.login-page .logo {
  position: absolute;
  height: 24vh;
}

.login-page form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: var(--color-);
  top: 70%;
}

.email,
.password {
  position: relative;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 20px 10px 3px;
  border: 1px solid var(--color-secundario);
  color: black;
}

.login-page form input {
  width: 100%;
  border: none;
}

.login-page form input:focus {
  outline: none;
}

.login-page form label {
  position: absolute;
  font-size: 13px;
  left: 3px;
  color: black;
  transition: 0.2s ease;
}


.login-page form input:focus~label,
.login-page form input:valid~label {
  top: 0;
  color: black
}

.error {
  color: red;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}

.login-page form button {
  background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0 10px 10px 10px;
  cursor: pointer;
}

.button-login:active {
  scale: 0.98;
}

.button-login {
  padding-top: 10px !important;
}

.background-container {
  position: static;
  width: 100%;
  height: 100%;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  animation: EntradaDerechaAIzquierda 2s ease 0s 1 normal forwards;
  background-color: black;
}

.text-overlay {
  position: absolute;
  top: 40%;
  left: 60%;
  text-align: center;
  width: 50%;
  z-index: 1;
}

.welcome-text span {
  display: block;
  text-align: left;
  color: #ffffff;
  font-size: 7vh;
  font-weight: bold;
  line-height: 1;
  animation: EntradaDerechaAIzquierda 2s ease 0s 1 normal forwards;
}

/*TODO Login Responsivo*/
@media (max-width: 840px) {
  .login-page {
    height: fit-content;
    width: fit-content;
  }

  .background-container {
    display: none;
  }
}

@keyframes Entrance {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes EntradaDerechaAIzquierda {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*<!------------Termina Estilo LOGIN---------------->*/



/*<!------------Estilo PanelAdmin---------------->*/
.deleted-row {
  background-color: #8f8c8c;
  color: #f2f2f2;
}

.admin-row {
  background-color: red;
  color: #f2f2f2;
}

/*<!------------Termina Estilo PanelAdmin---------------->*/



/*<!------------Estilo MiPerfil---------------->*/
.img-account-profile {
  height: 10rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
  font-weight: 500;
}

.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.card-body {
  height: 330px;
  background-color: var(--color-fondo);
}

.card-body input:disabled {
  background-color: gray;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}


.nav-borders .nav-link {
  color: var(--color-primario-normal);
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*<!------------Termina Estilo PanelAdmin---------------->*/



/*<!------------Estilo Formulario---------------->*/
.form-control {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: black;
  background-color: var(--color-fondo-inputs);
  background-clip: padding-box;
  border: 1px solid gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="file"]::before {
  content: none !important;
}

input,
select {
  color: black !important;
}

#custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/*<!------------Termina Estilo Formularios---------------->*/



/*<!------------Estilo Dropdowns Acciones---------------->*/
.dropdown__container {
  position: fixed !important;
  z-index: 1 !important;
}

.dropdown-menu.show {
  margin-left: 24px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

#dropdown-button2::after {
  display: block !important;
}

.dropdown-item i {
  margin-right: 6px;
}

/*<!------------Termina Estilo Dropdowns Acciones---------------->*/



/*<!------------Estilo Loading---------------->*/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-primario-normal);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*<!------------Termina Estilo Loading---------------->*/



/*<!------------Estilo UpNav---------------->*/
.navbar {
  position: absolute;
  background-color: var(--color-primario-normal);
  color: var(--color-primario-normal) !important;
  font-weight: 700 !important;
  padding: 14px;
}

@media (max-width: 767px) {
  .navbar {
    padding: 16px;
  }
}

.search-bar {
  position: absolute;
  align-items: center;
  z-index: 1;
}

.container {
  margin-top: 3%;
  max-width: fit-content;
}

.search-bar input {
  padding: 10px;
  border-radius: 4px;
  margin-right: 1px;
  background-color: white;
  color: var(--color-primario-normal);
  width: 291px;
  border-radius: 50px;
  border: 1px solid white;
  will-change: border;
  margin-left: -8px !important;
}

.search-bar input:hover,
.search-bar select:hover {
  border: 1px solid var(--color-secundario);
}

.search-bar input:focus,
.search-bar select:focus {
  outline: 1px solid white !important;
}

.search-bar i:not(#historyi) {
  margin-left: -38px;
  pointer-events: none;
  color: black;
}

.icono {
  font-size: 20px;
  margin-right: 12px;
  color: var(--color-primario-normal);
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-picture-login {
  height: 100px;
  border-radius: 60%;
  margin-right: 10px;
}

.right-navbar {
  width: 28%;
}

@media (max-width: 1440px) and (max-height: 768px) {
  .right-navbar {
    width: 35%;
  }

  .navigation {
    width: 40%
  }
}

.notificacion {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
}

.icono svg {
  margin-right: 5px;
}

/*<!------------Termina Estilo UpNav---------------->*/



/*<!------------Estilo ESTADOS---------------->*/
.color-input-container {
  display: flex;
  align-items: center;
}

.color-input {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.color-preview {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 4px;
}

/*<!------------Termina Estilo ESTADOS---------------->*/



/*<!------------Estilo Navigation---------------->*/
.navigation {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 18%;
  min-height: 100vh;
  color: var(--color-letras-menu);
  background-color: var(--color-menu);
  padding: 5px 5px;
  z-index: 2;
}

.navigation.active {
  width: max-content;
}

.navigation .menu {
  position: absolute;
  right: 10px;
  top: 0;
  margin-left: auto;
  font-size: 20px;
  height: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.navigation.active .menu {
  position: relative;
}

.navigation .menu.active {
  rotate: 180deg;
}

.navigation header {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px 0 15px;
  border-radius: 14px;
  margin-bottom: 25px;
}

.navigation header::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 88%;
  bottom: 0;
}

.navigation.active header {
  padding: 0;
  margin-top: 10px;
  background-color: transparent;
}

.navigation.active header::after,
.navigation.active header span {
  display: none;
}

.navigation header .profile {
  height: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.profile-img {
  position: sticky;
  height: 80px;
  object-fit: contain;
}

.profile-img-inactive {
  position: sticky;
  height: 34px;
  width: 50px;
  object-fit: contain;
}

.navigation.active header .profile {
  height: 40px;
}

.navigation header span {
  font-size: 15;
}

@media (max-width: 768px) {
  .hambmenu {
    left: 0;
    top: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--color-menu);
    position: absolute;

  }

  .hambmenu h2 {
    font-size: 20px;
    margin: 20px 0;
  }

  .hambmenu.visible {
    transform: translateX(0);
  }
}

.hidden {
  display: none;
}

/*<!------------Navigation Sidebar---------------->*/
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

.sidebar-title {
  margin: 0 5px;
}

.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}

.nav {
  padding: 12px;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}


.sidebar-item.open>.sidebar-content {
  height: auto;
  background-color: var(--color-menu2);
}

.sidebar-item.open>.sub-content {
  background-color: var(--color-menu3);
}

.sidebar-item.plain {
  color: white;
  text-decoration: none;
}

.sidebar-item.plain:hover {
  text-decoration: underline;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

/*<!------------Termina Estilo Navigation---------------->*/



/*<!------------Estilo Libreria Calendar---------------->*/
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation span {
  text-transform: uppercase;
  font-weight: bold;
}

.react-calendar__navigation button {
  font-weight: bold;
  min-width: 44px;
  background: none;
  font-size: large;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  color: red;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover {
  background: #a9d4ff;
}

.react-calendar__tile:enabled:focus {
  background-color: #1087ff;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/*<!------------Termina Estilo Calendar---------------->*/



/*<!------------Estilo Plantilla PDF---------------->*/
/* TODO ACTUALIZAR SEGUN TICKET DE CAJA*/
/*#table-xls-button {
  background-color: white;
  padding: 20px;
  border: solid green 2px;
  border-radius: 10px;
  height: 46px;
  background-image: url('../img/excel.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
}
  #botonDescargaPDF {
  background-color: transparent;
  color: rgb(33, 37, 41);
  font: weight 400px;
  margin-left: 4px;
  border: 0;
}

#botonDescargaPDF:hover {
  background-color: #f8f9fa;
}
*/
.plantilla-pdf {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  grid-auto-flow: row;
  margin: 20px 40px;
}

.Logo-e-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
  grid-area: 1 / 1 / 1 / 2;
  padding-top: 20px;
}

.contrato {
  grid-area: 2 / 1 / 2 / 2;
  padding: 0;
}

.ArrendatarioYTelefono {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . .";
  grid-area: 3 / 1 / 3 / 2;
}

.RecibeEquipo {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
  grid-area: 4 / 1 / 4 / 2;
}

.LugarEvento {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . .";
  grid-area: 5 / 1 / 5 / 2;
}

.FechaEvento-Horario {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . .";
  grid-area: 6 / 1 / 6 / 2;
}

.HorarioMontajeYDesmontaje {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . .";
  grid-area: 7 / 1 / 7 / 2;
}

.Celebracion-Delegacion {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". . .";
  grid-area: 8 / 1 / 8 / 2;
}

.Anticipo-MontoRestante {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: 9 / 1 / 9 / 2;
}

.NroPersonas-PisosExtra {
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 0.4fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . .";
  grid-area: 10 / 1 / 10 / 2;
}

.Paquete {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
  grid-area: 11 / 1 / 11 / 2;
}

.Observaciones {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
  grid-area: 12 / 1 / 12 / 2;
}

.plantilla-pdf>* {
  border: 1px solid black;
  padding: 0px 5px;
}

.plantilla-pdf>*:not(:last-child) {
  border-bottom: none;
}

.ArrendatarioYTelefono>div:not(:last-child),
.RecibeEquipo>div:not(:last-child),
.LugarEvento>div:not(:last-child),
.FechaEvento-Horario>div:not(:last-child),
.HorarioMontajeYDesmontaje>div:not(:last-child),
.Celebracion-Delegacion>div:not(:last-child),
.Anticipo-MontoRestante>div:not(:last-child),
.NroPersonas-PisosExtra>div:not(:last-child),
.Paquete>div:not(:last-child),
.Observaciones>div:not(:last-child) {
  border-right: 1px solid black;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.ArrendatarioYTelefono>div:last-child,
.RecibeEquipo>div:last-child,
.LugarEvento>div:last-child,
.FechaEvento-Horario>div:last-child,
.HorarioMontajeYDesmontaje>div:last-child,
.Celebracion-Delegacion>div:last-child,
.Anticipo-MontoRestante>div:last-child,
.NroPersonas-PisosExtra>div:last-child,
.Paquete>div:last-child,
.Observaciones>div:last-child {
  border-right: none;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.plantilla-pdf p {
  color: #000 !important;
  font-size: 12px;
  font-weight: bold;
}

.terminos p,
.terminos2 p,
.terminos3 p,
.terminos4 p,
.terminos5 p,
.terminos6 p,
.terminos7 p {
  color: #000 !important;
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
}

.terminos2,
.terminos3,
.terminos4,
.terminos5,
.terminos6,
.terminos7 {
  border: 1px solid black;
  margin-top: 79px;
  margin-left: 40px;
  padding: 22px;
}

/*ESPECIFICACIONES ESPECIFICAS PARA CADA TERMINO*/

.terminos6 {
  margin-top: 20px;
}

/*-------------------------------------------------*/

.variables-contrato {
  font-size: 12px;
  font-weight: normal;
}

.terminos {
  padding: 22px;
}

.info-contrato {
  font-size: 12px;
  font-weight: bold;
  padding-top: 8px;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .plantilla-pdf {
    page-break-inside: avoid;
  }
}

/*<!------------Termina Estilo Plantilla PDF---------------->*/